* {
  font-family: Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

/************************************ Rules (Hidden) **************************************/
/* .rules-container {
  padding: 20px;
  width: auto;
  border-collapse: collapse;
  border-radius: 8px;
  height: 100%;
  transition: 0.3s;
}

.rules-container:hover {
  box-shadow: 0 3px 6px rgba(72, 128, 170, 0.2),
    0 6px 12px rgba(72, 128, 170, 0.15);
}

#rule-new-btn {
  font-size: 12px;
  cursor: pointer;
  color: black;
  border: 1px solid black;
  padding: 6px 10px;
  border-radius: 5px;
}
#rule-new-btn:hover {
  background-color: #f1f8ff;
  border: 1px solid #4a90e2;
  color: #4a90e2;
}

.rules-list {
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rules-list::-webkit-scrollbar {
  display: none;
}
.rule-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  padding: 20px;
  transition: transform 0.3s, background-color 0.3s;
}

.rule-item:hover {
  transform: scale(1.02) translateY(-2px);
}

.plan-section {
  color: black;
  align-items: left;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  max-height: 180px;
  overflow-y: auto;
}

.plan-section::-webkit-scrollbar {
  display: none;
}
.watchlist-value {
  text-align: right;
  color: #555;
}
.rule-item-date {
  font-weight: bold;
  font-size: 12px;
  color: #333;
  width: 20%;
  text-align: left;
}

.rule-item-text {
  width: 75%;
  font-size: 12px;
  color: #555;
  text-align: left;
}

.new-rule-container {
  padding: 20px;
  width: 30%;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin-top: 4vh;
  transition: 0.3s;
}

.rule-details {
  margin-bottom: 20px;
}

.rule-header {
  display: flex;
  justify-content: space-between;
}

.rule-item-date {
  font-size: 10px;
  color: #333;
}

.rule-item-text {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  font-size: 11px;
  color: #333;
}

.rule-info label {
  font-weight: 600;
  color: #444;
}

.rule-info textarea {
  color: black;
  align-items: left;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  max-height: 180px;
  overflow-y: auto;
  resize: auto;
  transition: border-color 0.2s;
}

.rule-info textarea:focus {
  border-color: #4a90e2;
  outline: none;
}
.rule-value {
  font-weight: 100;
}

.icon-container {
  display: flex;
  gap: 12px;
} */

/*******************************************************************************************/
/*************************************** Navigation ****************************************/
/*******************************************************************************************/
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 0.5rem 1rem;
  z-index: 1000;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}
.nav-logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo-image {
  height: 30px;
  width: auto;
  object-fit: contain;
}

.search {
  flex: 1;
  margin-right: 1rem;
}

.search input {
  width: 50%;
  padding: 0.3rem;
  border: none;
  border-bottom: 1px solid black;
  font-size: 12px;
  background-color: transparent;
  color: black;
  transition: all 0.3s ease-in-out;
}

.search input::placeholder {
  color: #333;
}
.search input::placeholder:focus {
  color: #333;
}

.search input:focus {
  outline: none;
  width: 100%;
  border-bottom: 1px solid #4a90e2;
}

.nav-links {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 11px;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  color: #4a90e2;
}
.nav-links a.active {
  color: #4a90e2;
}
.user-dropdown {
  position: relative;
}

.user-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: black;
  font-size: 12px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 2px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.user-btn:hover {
  background-color: #333;
  opacity: 90%;
  color: #ffffff;
}

.user-icon {
  font-size: 12px;
  margin-right: 0.5rem;
  color: #3d8fe0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 1000;
  opacity: 90%;
}

.dropdown-menu a,
.dropdown-menu button {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border: none;
  background: none;
}

.logout-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.logout-icon {
  font-size: 12px;
  color: #4a90e2;
}

/*******************************************************************************************/
/**************************************** Components ***************************************/
/*******************************************************************************************/

/***************************** Landing Component (Register / Login) *************************/
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
  padding: 20px;
  box-sizing: border-box;
}

.landing-content {
  text-align: center;
  background-color: transparent;
  padding: 2.5rem;
  border-radius: 12px;
  max-width: 350px;
  width: 100%;
}

.auth-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.link-btn {
  background: none;
  border: none;
  color: #1f2937;
  cursor: pointer;
  font-size: 0.75rem;
  padding: 0;
  text-decoration: none;
}

.link-btn:hover {
  color: #4a90e2;
  background-color: transparent;
}

/************************** Login/ Registration Form Authentication *************************/
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: transparent;
  border-top: 1px solid #e5e7eb;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.auth-form input {
  padding: 11px;
  font-size: 12px;
  outline: none;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

.auth-form select {
  font-size: 12px;
  padding: 10px 5px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #d1d5db;
  width: 100%;
  transition: border-color 0.3s;
}

.auth-form input:focus,
.auth-form select:focus {
  border-color: #4a90e2;
}

.auth-form .btn {
  padding: 11px;
  font-size: 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color 0.3s, border-color 0.3s;
}

.auth-form .btn:hover {
  background-color: #165599;
  border: 1px solid #d1d5db;
}

.error-message {
  color: #dc2626;
  font-size: 0.875rem;
}

/******************************** DailyPNL Component ***************************************/
.daily-pnl-section {
  width: 100%;
  margin-top: 15%;
}

.dailypnl-wrapper {
  position: relative;
  min-height: 300px;
}

.dailypnl-container {
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
  min-height: 450px;
}

.dailypnl-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.daily-pnl-section .daily-pnl-card-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.daily-pnl-section .daily-pnl-card {
  border-radius: 8px;
  flex: 1;
  max-width: 100%;
  display: flex;
  transition: transform 0.3s, background-color 0.3s;
}

.daily-pnl-section .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.daily-pnl-section .icon-label {
  display: flex;
  align-items: center;
}

.daily-pnl-section .card-icon {
  font-size: 16px;
  color: #4a90e2;
  margin-right: 8px;
}

.daily-pnl-section .label {
  font-size: 10px;
  font-weight: 600;
  color: #333;
}

.daily-pnl-section .value {
  font-size: 10px;
  font-weight: 500;
  color: #333;
  margin-top: 4px;
}

.daily-pnl-section .divider {
  border: none;
  border-top: 1px solid #e6e8ec;
  margin: 16px 0;
}
#new-pnl-btn {
  font-size: 12px;
  cursor: pointer;
  color: black;
  padding: 6px 10px;
  border-radius: 5px;
}
#new-pnl-btn:hover {
  font-size: 12px;
  cursor: pointer;
  color: #4a90e2;
}

.new-daily-pnl-container {
  background: #fefefe;
  width: 250px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  transition: all 0.3s ease;
}

/*********************************** Bars Component *****************************************/
.main-bars-container {
  font-family: Arial, sans-serif;
  background-color: transparent;
  padding: 20px;
}

.header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 0;
}

/*********************************** Calendar Component *****************************************/
.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  background-color: transparent;
  transition: 0.3s;
}

.react-calendar__tile {
  width: 60px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: black;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  transition: transform 0.3s, background-color 0.3s, font-size 0.3s;
}

.react-calendar__tile:hover {
  transform: scale(1.05);
  background-color: #eeeeee;
  cursor: pointer;
  font-size: 11px;
  color: black;
}

.react-calendar__navigation {
  align-items: center;
}
.react-calendar__navigation__label {
  background-color: white;
  border: 1px solid;
  font-size: 10px;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 3.5px;
  cursor: pointer;
  border: 1px solid #bebebe;
}
.react-calendar__navigation__prev2-button {
  background-color: white;
  border: 1px solid #bebebe;
  font-size: 10px;
  padding: 5px 8px;
  margin-right: 5px;
  border-radius: 3.5px;
  cursor: pointer;
}
.react-calendar__navigation__prev-button {
  background-color: white;
  border: 1px solid #bebebe;
  font-size: 10px;
  padding: 5px 8px;
  border-radius: 3.5px;
  cursor: pointer;
}
.react-calendar__navigation__next-button {
  background-color: white;
  border: 1px solid #bebebe;
  font-size: 10px;
  padding: 5px 8px;
  margin-right: 5px;
  border-radius: 3.5px;
  cursor: pointer;
}

.react-calendar__navigation__next2-button {
  background-color: white;
  border: 1px solid #bebebe;
  font-size: 10px;
  padding: 5px 8px;
  border-radius: 3.5px;
  cursor: pointer;
}
.react-calendar__navigation__label:hover,
.react-calendar__navigation__prev2-button:hover,
.react-calendar__navigation__prev-button:hover,
.react-calendar__navigation__next-button:hover,
.react-calendar__navigation__next2-button:hover {
  background-color: #e6f7ff;
  cursor: pointer;
  border: 1px solid #4a90e2;
  color: #4a90e2;
}

.react-calendar__tile--active {
  border: 1px solid #4a90e2;
  background-color: #e6f7ff;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
}

.pnl-tile {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
}
/*********************************** Watchlist Component *****************************************/
.watchlist-wrapper {
  position: relative;
  min-height: 300px;
}
.watchlist-wrapper.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.watchlist-container {
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
  min-height: 450px;
}

.watch-container {
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.watch-container::-webkit-scrollbar {
  display: none;
}

.watch-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background: transparent;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
}
.watch-item:hover {
  transform: scale(1.03) translateY(-4px);
}

.watch-item .watch-item-symbol {
  font-weight: bold;
  font-size: 26px;
  color: #505050;
  margin-bottom: 8px;
}
.watch-item .no-id {
  font-size: 8px;
  color: #333;
  margin-bottom: 5px;
}

.watch-item .watch-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 10px;
  margin-bottom: 10px;
  gap: 20px;
}

.watch-item .watch-details > * {
  flex: 1;
  text-align: left;
}
.watch-item .watch-details > :first-child {
  text-align: left;
}

.watch-item .watch-details > :nth-child(2) {
  text-align: center;
}

.watch-item .watch-details > :last-child {
  text-align: right;
}

.watch-item .watch-row .label {
  font-weight: 600;
  color: #333;
}

.watch-item .watch-row .value {
  font-weight: 400;
  color: #333;
}

#watchlist-new-btn {
  font-size: 12px;
  cursor: pointer;
  color: black;
  padding: 6px 10px;
  border-radius: 5px;
}
#watchlist-new-btn:hover {
  font-size: 12px;
  cursor: pointer;
  color: #4a90e2;
}

.new-watchlist-container {
  background: #fefefe;
  width: 250px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  transition: all 0.3s ease;
}

.watchlist-header {
  display: flex;
  justify-content: space-between;
}

.no-id {
  font-size: 8px;
  color: #333;
}

.entry-date {
  font-size: 8px;
  color: #333;
}

.upd-watch-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 10px;
  margin-bottom: 10px;
  gap: 20px;
}
.upd-watch-details > * {
  flex: 1;
}
.upd-watch-details > :first-child {
  text-align: left;
}

.upd-watch-details > :nth-child(2) {
  text-align: center;
}

.upd-watch-details > :last-child {
  text-align: right;
}

.upd-watch-details .label {
  font-weight: 600;
  color: #333;
}

.upd-watch-details .value {
  font-weight: 400;
  color: #333;
}

.plan-container {
  margin-top: 10px;
  display: block;
  max-height: 100px;
  overflow-y: auto;
}

.plan-container::-webkit-scrollbar {
  display: none;
}
.editable-textarea {
  width: 100%;
  resize: none;
  min-height: 20px;
  overflow-y: auto;
  font-size: 10px;
}
.editable-textarea::-webkit-scrollbar {
  display: none;
}

.update-button {
  display: inline-block;
  padding: 6px 12px;
  font-size: 10px;
  color: #fff;
  background-color: #4a90e2;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-button:hover {
  background-color: #165599;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/********************************** Misc / Plan Component **********************************/

.misc-wrapper {
  position: relative;
  min-height: 300px;
  background-color: transparent;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.misc-container {
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
  min-height: 450px;
  flex: 1;
}

.misc-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.misc-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.misc-datelist-container {
  width: 10%;
  max-height: 450px;
  overflow-y: auto;
  background: transparent;
}
.misc-datelist-container::-webkit-scrollbar {
  display: none;
}
.misc-list-container {
  max-height: 450px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 90%;
  flex-grow: 1;
  align-items: flex-start;
}
.misc-list-container::-webkit-scrollbar {
  display: none;
}
.misc-list-container .misc-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  height: 450px;
  margin-top: 10px;
  padding: 40px;
  transition: transform 0.3s, background-color 0.3s;
}

.misc-list-container .misc-item::-webkit-scrollbar {
  display: none;
}
.misc-item:hover {
  transform: scale(1.05) translateY(-4px);
}

.date-item {
  padding: 8px;
  margin: 5px 0;
  cursor: pointer;
  border-bottom: 1px solid #dddd;
  background: transparent;
  text-align: center;
  transition: all 0.3s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
}

.date-item.active {
  background: #4a90e2;
  color: white;
  font-weight: bold;
}

.date-item:hover {
  background: #dfeeff;
}

.misc-header {
  display: flex;
  justify-content: space-between;
}
.misc-description {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  max-height: 300px;
  overflow-y: auto;
}

.misc-description::-webkit-scrollbar {
  display: none;
}
.edit-textarea {
  width: 100%;
  resize: none;
  min-height: 20px;
  overflow-y: auto;
  font-size: 10px;
}
.edit-textarea::-webkit-scrollbar {
  display: none;
}

#misc-new-btn {
  font-size: 12px;
  cursor: pointer;
  color: black;
  padding: 6px 10px;
  border-radius: 5px;
}
#misc-new-btn:hover {
  font-size: 12px;
  cursor: pointer;
  color: #4a90e2;
}

.new-misc-container {
  background: #fefefe;
  width: 320px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  transition: all 0.3s ease;
}

.misc-item-body {
  display: block;
  max-height: 300px;
  overflow-y: auto;
}
.misc-item-body::-webkit-scrollbar {
  display: none;
}

.misc-item-description {
  color: #444444;
  font-size: 10px;
  flex: 1;
}

.delete-icon {
  color: #e74c3c;
  cursor: pointer;
  font-size: 12px;
}

.delete-icon:hover {
  color: #c0392b;
}

/******************************  Trades Table Component ******************************  */

.trade-table-wrapper {
  position: relative;
  min-height: 300px;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.trade-table-container {
  background-color: transparent;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  padding: 20px;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
  min-height: 550px;
  opacity: 0;
}

.trade-table-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 0;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

#trade-new-btn {
  font-size: 12px;
  cursor: pointer;
  color: black;
  padding: 6px 10px;
  border-radius: 5px;
}
#trade-new-btn:hover {
  font-size: 12px;
  cursor: pointer;
  color: #4a90e2;
}

.new-trade-container {
  background: #fefefe;
  width: 320px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  transition: all 0.3s ease;
}

.trade-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

.trade-table th {
  color: #000;
  font-size: 11px;
  position: sticky;
  top: 0;
  text-align: left;
  padding: 10px 0px;
  z-index: 1;
}
.trade-table tbody {
  display: block;
  max-height: 500px;
  overflow-y: auto;
}

.trade-table tbody::-webkit-scrollbar {
  display: none;
}

.trade-table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  gap: inherit;
}
.trade-table td {
  padding: 5px 0px;
  font-size: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.trade-table th:nth-child(1),
.trade-table td:nth-child(1) {
  width: 60px;
}
.trade-table th:nth-child(2),
.trade-table td:nth-child(2) {
  width: 160px;
}
.trade-table tbody tr:hover {
  background-color: #e6f7ff;
  border: #4a90e2;
  cursor: pointer;
}

/******************************** Analysis Summary Component *******************************/
.analysis-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 250px;
  padding: 20px;
}

.analysis-circle-summary {
  position: relative;
  width: 100%;
  height: 100%;
}

.analysis-circle-summary .abs-return {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid #dadada;
}

.analysis-circle-summary .sharpe-ratio {
  width: 95px;
  height: 95px;
  position: absolute;
  top: calc(50% + 10px);
  left: calc(50% + 115px);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid #dadada;
  background-color: transparent;
}
.analysis-circle-summary .risk-reward {
  width: 95px;
  height: 95px;
  position: absolute;
  top: calc(50% + 105px);
  left: calc(50% + 45px);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid #dadada;
  background-color: transparent;
}
.analysis-circle-summary .avg-days {
  width: 65px;
  height: 65px;
  position: absolute;
  top: calc(50% + 95px);
  left: calc(50% + 130px);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid #dadada;
  background-color: transparent;
}

.analysis-circle-summary .wins {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 50%;
  left: calc(50% - 100px);
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid #dadada;
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.analysis-circle-summary .win-rate {
  width: 65px;
  height: 65px;
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 70px);
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid #dadada;
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}
.analysis-circle-summary .loss {
  width: 65px;
  height: 65px;
  position: absolute;
  top: calc(50% - 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid #dadada;
  transition: transform 0.3s ease-out, border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.analysis-circle-summary h3 {
  margin: 0;
  font-size: 9px;
  font-weight: 500;
  color: #666;
  text-align: center;
}

.analysis-circle-summary p {
  font-size: 11px;
  font-weight: 550;
  color: #333;
  margin: 0;
  text-align: center;
}

.abs-return:hover,
.sharpe-ratio:hover,
.risk-reward:hover,
.win-rate:hover,
.avg-days:hover {
  border: 1px solid #dadada;
  background-color: #dadada;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.wins:hover,
.loss:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.08) translateY(-6px);
}

.analysis-circle-summary .wins:hover {
  cursor: pointer;
  background-color: #e6f7ff;
  border-color: #4a90e2;
  box-shadow: 0 8px 16px rgba(72, 144, 226, 0.3),
    0 14px 28px rgba(72, 144, 226, 0.2);
  transform: translate(-50%, -60%) scale(1);
}

.analysis-circle-summary .loss:hover {
  cursor: pointer;
  background-color: #fdecea;
  border-color: #e74c3c;
  box-shadow: 0 8px 16px rgba(231, 76, 60, 0.3),
    0 14px 28px rgba(231, 76, 60, 0.2);
  transform: translate(-50%, -60%) scale(1);
}

/******************************** Analysis Pie Charts Component *******************************/
.analysis-container {
  display: flex;
  width: auto;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #f5f5f5;
  position: relative;
  justify-content: space-around;
  min-height: 300px;
}

.analysis-circle-row {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  min-height: 160px;
}

/******************************** Networth Summary Component *******************************/
.networth-summary {
  padding: 20px;
  padding-top: 0px;
  max-width: 100%;
}

.networth-summary .networth-card-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  max-width: 100%;
}

.networth-summary .networth-card {
  border-radius: 8px;
  max-width: 100%;
  display: flex;
  transition: transform 0.3s, background-color 0.3s;
}

.networth-summary .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.networth-summary .icon-label {
  display: flex;
  align-items: center;
}
.networth-summary .card-icon {
  font-size: 16px;
  color: #4a90e2;
  margin-right: 8px;
}

.networth-summary .label {
  font-size: 10px;
  font-weight: 600;
  color: #333;
}

.networth-summary .value {
  font-size: 10px;
  font-weight: 500;
  color: #333;
  margin-top: 4px;
}

.networth-summary .divider {
  border: none;
  border-top: 1px solid #e6e8ec;
  margin: 2px 0;
}

/******************************  Financial Table Component ******************************  */
.financial-table-wrapper {
  position: relative;
  min-height: 300px;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.financial-table-container {
  background-color: transparent;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  padding: 20px;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
  min-height: 550px;
  opacity: 0;
}

.financial-table-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 0;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

#financial-new-btn {
  font-size: 12px;
  cursor: pointer;
  color: black;
  padding: 6px 10px;
  border-radius: 5px;
}

#financial-new-btn:hover {
  font-size: 12px;
  cursor: pointer;
  color: #4a90e2;
}

.new-financial-container {
  background: #fefefe;
  width: 320px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  transition: all 0.3s ease;
}

.financial-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

.financial-table th {
  color: #000;
  font-size: 11px;
  position: sticky;
  top: 0;
  text-align: left;
  padding: 10px 0px;
  z-index: 1;
}

.financial-table tbody {
  display: block;
  max-height: 500px;
  overflow-y: auto;
}

.financial-table tbody::-webkit-scrollbar {
  display: none;
}

.financial-table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.financial-table td {
  padding: 5px 0px;
  font-size: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.financial-table th:nth-child(1),
.financial-table td:nth-child(1) {
  width: 70px;
}

.financial-table th:nth-child(2),
.financial-table td:nth-child(2) {
  width: 80px;
}

.financial-table th:nth-child(3),
.financial-table td:nth-child(3) {
  width: 80px;
}

.financial-table th:nth-child(4),
.financial-table td:nth-child(4) {
  width: 60px;
}

.financial-table th:nth-child(5),
.financial-table td:nth-child(5) {
  width: 60px;
}

.financial-table th:nth-child(6),
.financial-table td:nth-child(6) {
  width: 60px;
}

.financial-table th:nth-child(7),
.financial-table td:nth-child(7) {
  width: 60px;
}

.financial-table th:nth-child(8),
.financial-table td:nth-child(8) {
  width: 60px;
}

.financial-table th:nth-child(9),
.financial-table td:nth-child(9) {
  width: 80px;
}

.financial-table th:nth-child(10),
.financial-table td:nth-child(10) {
  width: 120px;
}

.financial-table tbody tr:hover {
  background-color: #e6f7ff;
  cursor: pointer;
}

/******************************** Cash Summary Component *******************************/

.cash-summary {
  padding: 20px;
  padding-top: 0px;
  max-width: 100%;
}

.cash-summary .cash-card-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  max-width: 100%;
}

.cash-summary .cash-card {
  border-radius: 8px;
  max-width: 100%;
  display: flex;
  transition: transform 0.3s, background-color 0.3s;
}

.cash-summary .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.cash-summary .icon-label {
  display: flex;
  align-items: center;
}

.cash-summary .card-icon {
  font-size: 16px;
  color: #4a90e2;
  margin-right: 8px;
}

.cash-summary .label {
  font-size: 10px;
  font-weight: 600;
  color: #333;
}

.cash-summary .value {
  font-size: 10px;
  font-weight: 500;
  color: #333;
  margin-top: 4px;
}

.cash-summary .divider {
  border: none;
  border-top: 1px solid #e6e8ec;
  margin: 2px 0;
}

/******************************  Transaction Table Component ******************************  */
.transaction-table-wrapper {
  position: relative;
  min-height: 300px;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.transaction-table-container {
  background-color: transparent;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  padding: 20px;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
  min-height: 550px;
  opacity: 0;
}

.transaction-table-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}

#transaction-new-btn {
  font-size: 12px;
  cursor: pointer;
  color: black;
  padding: 6px 10px;
  border-radius: 5px;
}

#transaction-new-btn:hover {
  font-size: 12px;
  cursor: pointer;
  color: #4a90e2;
}

.new-transaction-container {
  background: #fefefe;
  width: 320px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  transition: all 0.3s ease;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}
.transaction-table-container th {
  color: #000;
  font-size: 11px;
  position: sticky;
  top: 0;
  text-align: left;
  padding: 10px 0px;
  z-index: 1;
}
.transaction-table-container tbody {
  display: block;
  max-height: 350px;
  overflow-y: auto;
}

.transaction-table-container tbody::-webkit-scrollbar {
  display: none;
}

.transaction-table-container tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  gap: inherit;
}
.transaction-table-container td {
  padding: 5px 0px;
  font-size: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.transaction-table-container th:nth-child(1),
.transaction-table-container td:nth-child(1) {
  width: 60px;
}
.transaction-table-container th:nth-child(2),
.transaction-table-container td:nth-child(2) {
  width: 160px;
}
.transaction-table-container tbody tr:hover {
  background-color: #e6f7ff;
  border: #4a90e2;
  cursor: pointer;
}

.transaction-table th {
  color: #000;
  font-size: 11px;
  text-align: left;
  padding: 10px 0px;
}
.transaction-table td {
  padding: 5px 0px;
  font-size: 10px;
  text-align: left;
}

/**************************************** Line Charts ***************************************/
.eqt-chart,
.investment-chart,
.networth-chart {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: transparent;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  min-height: 400px;
}

/************************************ Line Chart Summary  **********************************/
.summary-section {
  text-align: left;
  color: #333;
  margin-bottom: 20px;
  padding: 0 10px;
}

.investment-cash,
.trade-count,
.networth-cash {
  font-size: 26px;
  font-weight: 700;
  color: #4a90e2;
  margin-top: 6px;
}

.investment-roi,
.eqt-rate,
.networth-change {
  font-weight: 100;
  font-size: 10px;
  margin-left: 0px;
  color: #4a90e2;
}

.trade-label,
.investment-date,
.networth-date {
  font-weight: 100;
  font-size: 10px;
  margin-left: 0px;
  color: #888;
}

/*******************************************************************************************/
/**************************************** Utilities ****************************************/
/*******************************************************************************************/

/***************************************** Modal *******************************************/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
  backdrop-filter: blur(5px);
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.99);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.modal .close-btn {
  color: black;
  cursor: pointer;
}
.modal .close-btn:hover {
  color: #dadada;
  cursor: pointer;
}

/***************************************** Modal View ******************************************/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.5s forwards;
}

.modal-content {
  background: #fefefe;
  width: 350px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  font-family: Arial, Helvetica, sans-serif;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.modal-header h2 {
  margin: 0;
  font-size: 12px;
  color: #444;
  letter-spacing: 0.5px;
}
.modal-header h3 {
  margin: 0;
  color: #444;
}

.close-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #444;
  transition: color 0.2s ease;
}

.close-button:hover {
  background: none;
  border: none;
  color: #dadada;
}

.modal-body {
  padding: 20px;
  color: #555;
  line-height: 1.6;
  font-size: 10px;
}
.modal-body hr {
  border: none;
  border-top: 1px solid #e6e8ec;
}

.modal-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.label {
  flex: 1;
  text-align: left;
}

.separator {
  flex: 0.5;
  text-align: center;
  color: #ddd;
}

.modal-row .value {
  flex: 1;
  text-align: right;
  font-size: 10px;
}
.modal-hr {
  margin: 20px;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.misc-item-footer {
  display: flex;
  gap: 10px;
}

.settings-icon {
  cursor: pointer;
  color: #4a90e2;
  font-size: 12px;
}
.settings-icon:hover {
  color: #165599;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

/******************************************* Forms  *******************************************/

.form-container {
  background-color: transparent;
}

.form-container label {
  font-size: 12px;
  width: 100%;
}

.form-container input,
.form-container select {
  font-size: 11px;
  padding: 10px 0px;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin-bottom: 5px;
}

.form-container button {
  padding: 12px 0px;
  font-size: 12px;
  background-color: transparent;
  color: black;
  border: 1px solid #333;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 2vh;
  width: 100%;
}

.form-container button:hover {
  background-color: #f3fafd;
  cursor: pointer;
  border: 1px solid grey;
  color: black;
  transform: translateY(-2px);
}

/**************************************** Tool Tips  ***************************************/
.tooltip-content {
  background-color: #e6f7ff;
  border: 1px solid #4a90e2;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 12px;
  color: #4a90e2;
  box-shadow: 0 6px 12px rgba(72, 144, 226, 0.2),
    0 12px 24px rgba(72, 144, 226, 0.15);
}

.tooltip-content .amount {
  font-size: 12px;
  font-weight: 600;
  color: #4a90e2;
  margin-top: 4px;
}

.recharts-surface {
  background-color: transparent;
}

.recharts-tooltip-cursor {
  display: none;
}

/******************************** New Entry Tool Tips  **********************************/

.tooltip {
  position: relative;
  display: inline-block;
  color: transparent;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 110%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  background-color: transparent;
  color: #4a90e2;

  font-size: 10px;
}

/************************************ Loading Spinner  *************************************/

.component-loading-spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-color: transparent;
  z-index: 10;
}

.spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.items-spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***************************************** Toggle  ****************************************/
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 18px;
  cursor: pointer;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4a90e2;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.toggle-label {
  margin-left: 10px;
  font-weight: bold;
}
.icon-container {
  display: flex;
  gap: 10px;
}

/************************************ Fade Animation  *************************************/
.fade-in {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Calendar fade-in  */
.fades-in-hidden {
  opacity: 0;
  visibility: hidden;
}

.fades-in {
  opacity: 0;
  visibility: visible;
  animation: fadesIn 0.9s ease-in-out forwards;
}

@keyframes fadesIn {
  to {
    opacity: 1;
  }
}

/*************************************** Bars Tabs  ***************************************/

.tab-container {
  display: flex;
  gap: 50px;
}
.tab {
  overflow: hidden;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 0;
}

.tab-button {
  float: left;
  background-color: transparent;
  border: none;
  padding: 1px 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.tab-button:hover {
  background-color: transparent;
  color: #4a90e2;
}

.tab-button.active {
  color: #4a90e2;
  font-weight: 600;
}
/*******************************************************************************************/
/****************************************** Pages ******************************************/
/*******************************************************************************************/

/* ******************************* Horizontal Containers ***********************************/
.bars-and-calendar-container,
.investment-and-dailypnl-container,
.networth-and-cash-container,
.transactions-and-rules-container,
.investment-and-cash-container,
.eqt-and-summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  padding: 20px;
  min-height: 500px;
}

@media (max-width: 768px) {
  .investment-and-dailypnl-container {
    flex-direction: column;
    gap: 1rem;
  }
}

.watchlist-and-misc-container {
  display: flex;
  position: inherit;
  gap: 1rem;
  align-items: flex-start;
  width: 100%;
  height: 500px;
  background-color: transparent;
  padding: 0;
}

.savings-account-charts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  padding: 20px;
}

/******************************Within the Horizontal Containers *****************************/
.transactions-accounts,
.networth-chart-networth,
.eqt-home,
.eqt-trades,
.eqt-analysis,
.eqt-accounts,
.investment-home,
.investment-accounts {
  flex: 0.7;
}

.bars-home,
.calendar-home {
  flex: 0.5;
  display: flex;
  flex-direction: column;
}

.transaction-distribution-accounts,
.networth-cash-networth,
.summary-accounts,
.summary-home,
.summary-analysis,
.summary-trades,
.cash-accounts,
.pnl-home {
  flex: 0.3;
}

.watchlist-trades {
  flex: 0.35;
  padding-left: 2vw;
  padding-top: 2vh;
  box-sizing: border-box;
}

.misc-trades {
  flex: 0.65;
  padding-right: 2vw;
  padding-top: 2vh;
  box-sizing: border-box;
}

/**************************************** Pie Charts ***************************************/

.savings-growth-chart,
.account-distribution-chart {
  flex: 1;
}
